
  .scores-text {
    display: block;
    font-size: 3rem;
    font-weight: bold;
  }
  
  .scores-text.low {
    color: #FF5A5A;
  }
  
  .scores-text.medium {
    color: #DBCB3C;
  }
  
  .scores-text.high {
    color: #0EF2CC;
  }
  