.outcome {
  display: block;
  font-size: 3rem;
  font-weight: bold;
  }
  
  .outcome.buy {
    color: #0EF2CC;
  }
  
  .outcome.sell {
    color: #FF5A5A;
  }
  
  .outcome.hold {
    color: #DBCB3C;
  }