#hero {
  width: 100%;
  background-size: 100% 20%;
  background-repeat: no-repeat;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 14rem; 
  padding-bottom: 8rem; 
}

.hero-stack {
  width: 100%;
}

.hero-stack.sm {
  width: 70%;
}

.hero-title {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  font-size: clamp(3.5rem, 10vw, 4rem);
  color: #171B26;
}

.hero-title.md {
  flex-direction: row;
}

.hero-title-highlight {
  font-size: clamp(3rem, 10vw, 4rem);
  color: var(--primary-color);
}

.hero-description {
  text-align: center;
  color: var(--text-secondary-color);
  align-self: center;
  width: 100%;
}

.hero-description.md {
  width: 80%;
}

.hero-buttons {
  padding-top: 2rem;
  width: 100%;
}

.hero-buttons.sm {
  width: auto;
}

.hero-caption {
  text-align: center;
  opacity: 0.8;
}

.hero-welcome {
  padding-bottom: 25px;
  margin: 0px;
}

@media (min-width: 600px) {
  .hero-container {
    padding-top: 20rem;
    padding-bottom: 12rem;
  }
}

.search-form {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.search-input {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #9EB3C2;
  border-radius: 5px 5px 5px 5px;
  width: 40vw;
  margin-right: 5px; 
}

.search-button {
  padding: 10px;
  background-color: #231E66;
  color: #FCFCFC;
  border: 1px solid #231E66;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  height: 40px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button span {
  font-size: 1em;
}