.carousel .carousel-item {
  padding: 20px;
  background-color: #dddcdc2c;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.carousel .carousel-item h2 {
  margin: 0;
  font-size: 1.1em;
}

.carousel .carousel-item p {
  font-size: 1em;
  margin: 10px 0;
}

.carousel .carousel-item a {
  color: #8686ff;
  text-decoration: none;
}

.carousel .carousel-item span {
  font-weight: bold;
}

.carousel .carousel-status {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 20px;
  font-size: 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
  color: #fff;
}

.carousel.carousel-slider .control-arrow {
  top: 0;
  color: #ffffff;
  font-size: 26px;
  bottom: 0;
  margin-top: 0;
  padding: 5px;
}
